{
	"presets": [
    ["env", { "modules": false }],
    "es2015",
		"react"
	],
	"plugins": [
		"react-hot-loader/babel"
  ],
  "jest": {
    "globals": {
      "ts-jest": {
        "useBabelrc": true
      }
    }
  }
}
